
    <!-- Social Media Links -->
<div class="social-links mt-3">
    <a href="https://github.com/mubuyuk" target="_blank" aria-label="GitHub profile" title="GitHub">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/murat-buyuksal-1887a9302" target="_blank" aria-label="LinkedIn profile" title="LinkedIn">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="mailto:muratbuyuksal@gmail.com" aria-label="Send email" title="Email">
        <i class="fas fa-envelope"></i>
    </a>
</div>


    <p class="mt-3">&copy; 2025 Murat Buyuksal. All Rights Reserved.</p>
